<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <p>numero de clientes : {{ data.message }}</p>
  <p>renda media dos clientes: {{ data.rendaMedia }}</p>
</div>
<div mat-dialog-actions style="text-align: left;">
    <button mat-button mat-dialog-close style="margin: 0 auto;
    background-color: white; 
    border-radius: 8px;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    size: 8px;
    font-size: 16px;">Fechar</button>
  </div>