<!DOCTYPE html>
<html>

<head>
  <title>Meu Mapa</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>
  <div class="map-container">
    <div class="map-frame">
      <app-loading *ngIf="isLoading"></app-loading>


      <div class="box">
        <select>
          <option value="0">Filtros</option>
          <option value="1">Numero de Clientes</option>
          <option value="2">Empreendedorismo</option>
          <option value="3">Financas</option>
          <option value="4">Inovacao</option>
          <option value="5">Leis e Normas</option>
          <option value="6">Mercado</option>
          <option value="7">Pessoas</option>
          <option value="8">Processos</option>
          
        </select>
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" class="slider"></ngx-slider>
      </div>

      <div class="box-renda">
        <span>Filtro de Renda</span>
        
        <div class="slider-container">
          <div class="slider-content">
            <span id="slider-value-min">0</span>
            <input type="range" min="0" max="5400" value="0" class="slider" id="renda-slider" data-min="0" data-max="5400">
            <span id="slider-value-max">5400+</span>
            Valor atual: <span id="slider-value"></span>
          </div>
        </div>
      </div>



      <div id="map"></div>

    </div>
  </div>
  <script>
  </script>
</body>

</html>