<!DOCTYPE html>
<html>

<head>
  <title>Meu Mapa</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>
  <div class="map-container">
    <div class="map-frame">
      <app-loading *ngIf="isLoading"></app-loading>
      

      <div class="box">
        <select [(ngModel)] = "valorfiltro">
          <option value="">Filtros</option>
          <option value="N_CLIENTES">Numero de Clientes</option>
          <option value="TEMA_REALI_EMPREENDEDORISMO">Empreendedorismo</option>
          <option value="TEMA_REALI_FINANCAS">Financas</option>
          <option value="TEMA_REALI_INOVACAO">Inovacao</option>
          <option value="TEMA_REALI_LEIS_E_NORMAS">Leis e Normas</option>
          <option value="TEMA_REALI_MERCADO">Mercado</option>
          <option value="TEMA_REALI_PESSOAS">Pessoas</option>
          <option value="TEMA_REALI_PROCESSOS">Processos</option>
          
        </select>
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" class="slider"></ngx-slider>
        <button class="btn-filtro" (click)="getSectorsFilRealiz">FILTRAR</button>
      </div>
      

      <div class="box-PJPF">
        <span >⠀⠀Tipo Cliente<br></span>
        <select [(ngModel)] = "pessoaFiltro">
          <option value="PJ">PJ</option>
          <option value="PF">PF</option>
        </select>
        <span>⠀</span>
        <button class="btn-pjpf" (click)="this.checkBounds()">FILTRAR</button>
      </div>

      <div><button class="btn-recarregar" (click)="refreshMap();">RECARREGAR<br> INFORMACOES</button>
      </div>
       
      <div class="box-renda">
        <span>Filtro de Renda</span>
        
        <div class="slider-container">
          <div class="slider-content">
            <span id="slider-value-min">0</span>
            <input type="range" min="0" max="5400" value="0" class="slider" id="renda-slider" data-min="0" data-max="5400">
            <span id="slider-value-max">5400+</span>
            Valor atual: <span id="slider-value"></span>
          </div>
        </div>
      </div>



      <div id="map"></div>

    </div>
  </div>
  <script>
  </script>
</body>

</html>